<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leolam.www.auth.web.mapper.SysUserMapper">
    <select id="findUserByPage" resultType="SysUser">
        select
        *
        from sys_user
        LIMIT #{pageNumber},#{pageSize}
    </select>

    <select id="findAllUserNumber" resultType="Integer">
        select count(*) from sys_user
    </select>

    <update id="updateUserByUserName" parameterType="SysUser">
        update sys_user
        <set>
            password=#{password},
            email=#{email},
            phone=#{phone},
            is_account_non_expired=#{isAccountNonExpired},
            is_account_non_locked=#{isAccountNonLocked},
            is_credentials_non_expired=#{isCredentialsNonExpired},
            is_enabled=#{isEnabled},
            authorities_string=#{authoritiesString},
        </set>
        where username=#{username}
    </update>


    <delete id="deleteOneUserByUsername" parameterType="SysUser">
        delete from sys_user
        where username=#{username}
    </delete>

    <select id="getSysUserByEmail" resultType="SysUser" parameterType="java.lang.String">
        select * from sys_user
        where email = #{email}
    </select>

</mapper>