<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leolam.www.user.web.mapper.UserMapper">
    <select id="findUserByEmailAndPassword" resultType="User">
        select * from users where email=#{email} and password=#{password}
    </select>

    <insert id="insertUserByEmailAndPassword" parameterType="User">
        insert into users(email,password) values (#{email},#{password})
    </insert>

    <select id="findUserByEmail" resultType="User">
        select * from users where email=#{email}
    </select>

    <update id="updatePassWordByUserId" parameterType="User">
        update users set password=#{password} where id=#{id}
    </update>

    <select id="getUsersByUserIdThroughAttention" resultType="User">
        select users.* from
        (select * from attention where fans =#{id}) as t
        join users on t.userId=users.id
    </select>

    <update id="updateUserByUserId" parameterType="User">
        update users
        <set>
            <if test="nick!=null">
                nick=#{nick},
            </if>

            <if test="sex!=null">
                sex=#{sex},
            </if>

            <if test="headUrl!=null">
                headUrl=#{headUrl},
            </if>

            <if test="sign!=null">
                sign=#{sign},
            </if>

            <if test="fansCount!=null">
                fansCount=fansCount+#{fansCount},
            </if>

            <if test="email!=null">
                email=#{email},
            </if>

            <if test="password!=null">
                password=#{password},
            </if>

            <if test="role!=null">
                role=#{role},
            </if>

            <if test="token!=null">
                token=#{token},
            </if>

        </set>
        where id=#{id}
    </update>

    <select id="findUserByUserId" parameterType="User" resultMap="m1">
        select * from users
        where id=#{id}
    </select>

    <insert id="insertUserByUser" parameterType="User">
        insert into users
        value (default ,#{nick},#{sex},default ,#{sign},#{email},#{password},default )
    </insert>

    <resultMap id="m1" type="User">
        <result property="id" column="id"/>
        <result property="nick" column="nick"/>
        <result property="sex" column="sex" />
        <result property="headUrl" column="headUrl" />
        <result property="sign" column="sign" />
        <result property="email" column="email" />
        <result property="role" column="role" />
        <association property="fansCount" column="id"  select="cn.leolam.www.user.web.mapper.AttentionMapper.getAttentionCountByUserId" />
    </resultMap>

    <select id="findUserByUserIdParam" parameterType="Integer" resultType="User">
        select * from users where id=#{userId}
    </select>
    <select id="getUsersByPage" resultType="User">
        select * from users
        Limit #{page},#{pageSize}
    </select>
    <select id="getUsersCount" resultType="Integer">
        select count(*) from users
    </select>
    <delete id="deleteUserById" parameterType="Long">
        delete from users where id = #{id}
    </delete>
    <select id="getLastUserId" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID()
    </select>
</mapper>